h1,
form {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 44px;
}
form {
  margin-top: 20px;
}
input,
button {
  margin-right: 20px;
  border-radius: 8px;
  height: 24px;
  box-shadow: 3px 3px 7px rgb(120, 118, 118);
}
.inputStyle {
  font-style: italic;
}
.categorys {
  list-style-type: none;
  display: flex;
  background-color: #d7d3d3;
  height: 50px;
  font-size: 24px;
  justify-content: space-around;
  align-items: center;
  :hover {
    cursor: pointer;
    text-decoration: underline;
  }
}