@font-face {
  font-family: "TestFont";
  src: url("../assets/fonts/testfont_VolkoSans-PosterLight.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

header {
  h1,
  form {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 44px;
  }
  h1 {
    font-family: "TestFont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
  }
  form {
    margin-top: 20px;
  }
  input,
  button {
    margin-right: 20px;
    border-radius: 8px;
    height: 24px;
    box-shadow: 3px 3px 7px rgb(120, 118, 118);
  }
  .inputStyle {
    font-style: italic;
  }
  .categorys {
    list-style-type: none;
    display: flex;
    background-color: #d7d3d3;
    height: 50px;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .cartButtonIcon {
    border: none;
    top: 80px;
    right: 50px;
    height: 60px;
    position: fixed;
  }
  .animate {
    animation: wobble-vertical-left 1s ease-in-out;
  }
}

.backbutton {
  border: none;
  top: 80px;
  left: 60px;
  height: 60px;
  width: 60px;
  position: fixed;

  img {
    height: 60px;
    width: 60px;
    transform: rotate(180deg);
  }
}

animation wobble-vertical-left {
  @keyframes wobble-vertical-left {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      transform: translateY(15px) rotate(6deg);
    }
    45% {
      transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      transform: translateY(-6px) rotate(-1.2deg);
    }
  }
}
