#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
  box-sizing: border-box;
  padding: 20px;
}

#user-checkout-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-checkout-form article {
  margin-bottom: 20px;
}

#user-checkout-form form {
  display: flex;
  flex-direction: column;
}

#user-checkout-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#user-checkout-form input.invalid {
  border-color: red;
}
#custom-email-validity-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}
#cards-images {
  display: flex;
  justify-content: left;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 10px;
}

#cards-images img {
  width: 50px;
  height: 50px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #4e97eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4ec002;
}

@media (max-width: 600px) {
  #user-checkout-form {
    padding: 10px;
  }

  #user-checkout-form input {
    padding: 8px;
  }

  button[type="submit"] {
    padding: 8px;
  }
}
